.main {
  width: 100%;
  padding: 30px 0;
  margin: 80px auto;
}

.healthcare {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.healthcare div img {
  width: 600px;
}

.text {
  width: 37%;
  text-align: left;
  padding-top: 55px;
  padding-right: 55px;
}

.text h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
}

.text p {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  color: #7d7987;
}
.text button {
  margin: 30px 0;
}
@media screen and (max-width: 425px) {
  .main {
    width: 100%;
    margin: 0px auto;
    background: linear-gradient(175.68deg, #f3f7ff -10.48%, #deeefe 92.66%);
  }
  .healthcare {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .healthcare div img {
    display: none;
  }
  .text {
    width: 90%;
    padding-top: 15px;
    padding-right: 0px;
  }
  .text h3 {
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: 30px;
    line-height: 35px;
    padding-bottom: 20px;
  }
  .text p {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    color: #7d7987;
    text-align: center;
  }
  .btn > button {
    width: 100%;
  }
}
