.main {
  width: 100%;
  padding: 30px 0;
  margin: 50px auto;
}
.hero {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heroImage {
  width: 65%;
}
.heroImage img {
  width: 100%;
}
.text {
  width: 35%;
  text-align: left;
}
.text h3 {
  font-size: 43px;
  font-weight: 700;
  line-height: 56px;
}
.text p {
  font-size: 18px;
  line-height: 32px;
  color: #7d7987;
}
.text button {
  margin: 30px 0;
}

@media screen and (max-width: 425px) {
  .main {
    width: 100%;
  }
  .hero {
    width: 90%;
    justify-content: center;
    flex-direction: column;
    /* background-image: url(../../../asset/image/heroImage.png); */
    background-size: contain;
    background-blend-mode:difference;
  }
  .text {
    width: 90%;
    text-align: left;
  }
  .heroImage img {
    display: none;
  }
  .text h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }
}
