.main {
  width: 100%;
  background-color: #fff;
}
.main .article {
  width: 85%;
  margin: 0 auto;
  position: relative;
}
.articleContent {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.cards {
    width: 90%;
    margin: 80px auto 69px;
    display: flex;
   
  }
/* .eclipse,
.dot {
  position: absolute;
  z-index: 1;
}
.eclipse {
  width: 55%;
  top: 110px;
  left: -120px;
}
.dot {
  right: 0;
  top: 50%;
  width: 10%;
}

.serviceContent h3 {
  font-weight: 700;
  font-size: 30px;
}
.serviceContent p {
  color: #7d7987;
  margin-top: 10px;
}
 */
