.main {
  width: 100%;
  background-color: #fff;
  margin-top: 90px;
}
.main .article {
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.articleContent {
  text-align: center;
  width: 60%;
  margin: 0 auto;
}
.cards {
    width: 80%;
    margin: 50px auto 69px;
    display: flex;
   
  }
  .articleContent h3 {
    font-weight: 700;
    font-size: 30px;
  }
  .viewbtn {
    display: flex;
    justify-content: center;
    margin-bottom: 202px;
  }
/* .eclipse,
.dot {
  position: absolute;
  z-index: 1;
}
.eclipse {
  width: 55%;
  top: 110px;
  left: -120px;
}
.dot {
  right: 0;
  top: 50%;
  width: 10%;
}


.serviceContent p {
  color: #7d7987;
  margin-top: 10px;
}
 */
