@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;0,900;1,500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
button {
  font-family: "Mulish", sans-serif;
}
.header nav .active {
  color: #1f1534 !important;
}
.splide__pagination {
  margin-top: -20px !important;
}
.splide__pagination li:not(:last-child) {
  margin-right: 16px;
}
.splide__pagination__page {
  width: 10px;
  height: 10px;
  background: #5b9af36d;
  margin: 0px 2px;
  border-radius: 17px;
  border: none;
}
.splide__pagination__page.is-active {
  background-color: #5b9bf3 !important;
}
.splide__arrows {
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.splide__arrow {
  border: none;
  background-color: white;
  margin-top: 40px;
}
.splide__arrow--prev.active svg path {
  fill: #7e9dc8;
}
